@model Product

<div class="card shadow border-dark border-1 mt-4">
    <div class="card-header bg-primary bg-gradient py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Delete Product</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3">
                <div class="form-floating col-12">
                    <input asp-for="Title" disabled class="form-control" placeholder="Type here" />
                    <label asp-for="Title"></label>
                </div>
                <div class="form-floating mt-3 col-12">
                    <input asp-for="Description" disabled class="form-control" placeholder="Type here" />
                    <label asp-for="Description"></label>
                </div>
                <div class="form-floating mt-3 col-12">
                    <input asp-for="ISBN" disabled class="form-control" placeholder="Type here" />
                    <label asp-for="ISBN"></label>
                </div>
                <div class="form-floating mt-3 col-12">
                    <input asp-for="Author" disabled class="form-control" placeholder="Type here" />
                    <label asp-for="Author"></label>
                </div>
                <div class="form-floating mt-3 col-12">
                    <input asp-for="ListPrice" disabled class="form-control" placeholder="Type here" />
                    <label asp-for="ListPrice"></label>
                </div>
                <div class="form-floating mt-3 col-12">
                    <input asp-for="Price" disabled class="form-control" placeholder="Type here" />
                    <label asp-for="Price"></label>
                </div>
                <div class="form-floating mt-3 col-12">
                    <input asp-for="Price50" disabled class="form-control" placeholder="Type here" />
                    <label asp-for="Price50"></label>
                </div>
                <div class="form-floating mt-3 col-12">
                    <input asp-for="Price100" disabled class="form-control" placeholder="Type here" />
                    <label asp-for="Price100"></label>
                </div>
                <div class="row pt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-danger form-control">Delete</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>